<div class="container">
  <h1>Listing Pins</h1>
  <% @pins.each do |pin| %>
    <div class="col-md-3">
      <div class="thumbnail">
        <%= pin.name %>
        <%= image_tag (pin.photo), :class => 'img-responsive' %>
        <%= pin.description %>
        <div class="buttons" style="margin-top:10px; margin-bottom:10px">
          <%= link_to 'Show', pin, :class => 'btn' %>
          <%= link_to 'Edit', edit_pin_path(pin), :class => 'btn' %>
          <%= link_to 'Destroy', pin, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn' %>
        </div>
      </div>
    </div>
  <% end %>
  <br>

  <%= link_to 'New Pin', new_pin_path %>
</div>