<%= form_for(@first) do |f| %>
  <% if @first.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@first.errors.count, "error") %> prohibited this first from being saved:</h2>

      <ul>
      <% @first.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pins %><br>
    <%= f.text_field :pins %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
